<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <link rel="stylesheet" href="/css/sucess.css">
</head>

<body>
    <div class="container">
        <h1>Payment Successful!</h1>
        <p id="payment-status"></p>
        <p>Thank you for your payment. Your transaction was successful.</p>
        <p id="billing-details"></p>
        <button id="go-home">Go to Home</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/sucess.js"></script>
    <script src="https://js.stripe.com/v3/"></script> 

</body>
</html>